In [2]:
#Type Data
#integers
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
# Python interprets a sequence of decimal digits without any prefix to be a decimal number:

print(10)
print(type(10))

10
<class 'int'>

In [3]:
#Floating-Point Numbers
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [5]:
#strings
print("Hacktiv8 x Inalum")
print(type("Hacktiv8 x Inalum"))

print('')
print("")

print("This string contains a single quote (') character.") #jangan ada ' di "
print('This string contains a double quote (") character.') #jangan ada " di '


## kalau mau konsisten pakai single quote atau double quote bisa digunakan operator : (\')atau (\")

Hacktiv8 x Inalum
<class 'str'>


This string contains a single quote (') character.
This string contains a double quote (") character.

In [6]:
print('This string contains a single quote (\') character')

This string contains a single quote (') character

In [5]:
#Boolean Type, Boolean Context, and “Truthiness”

print(type(True))
print(type(False))

n = 300
print(n)
n

# Later, if you change the value of n and use it again, the new value will be substituted instead:

n = 1000
print(n)
n

#same value to several variables
a = b = c = 300
print(a, b, c)

<class 'bool'>
<class 'bool'>
300
1000
300 300 300

In [7]:
a = 30
a
b = 20
b

20

In [8]:
print(a)
print(b)

30
20

In [6]:
# variable Types in Python
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

# variable names
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

# 9_kepala_naga = True ##tidak dapat diawali dengan angka

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

23.5
Now I'm a string
Hacktiv8 54 True
1 2 3 4 5 6 7 8

In [ ]:
camelcase

numberOf

In [9]:
# Operators and Expressions in Python
# operans
a = 10
b = 20
# Expressions : serangkaian operans dan operators
a + b
# symbol "+" adalah operator
print(a+b)

a = 10
b = 20
a + b - 5
# 5 disebut literals
print(a+b-5)

30
25

In [10]:
# Aritmetic Operators
# Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)     # penjumlahan
print(a - b)     # pengurangan
print(a * b)     # multiply
print(a / b)     # pembagian desimal atau devision          # 1.333
print(a // b)    # pembagaian integer atau integer division   # 1
print(a % b)     # modulo
print(a ** b)    # pangkat

# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:
10 / 5

7
1
12
1.3333333333333333
1
1
64

2.0

In [9]:
# Comparison Operators = operator perbandingan
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

In [17]:
## String Manipulation
# + Operators :: concantinate
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'Inalum')

foobar
foobarbaz
Hacktiv8 Inalum

In [15]:
#tambahan 
s = 'foo'
t = 'bar'
u = 'baz'

stu = s + t + u
stu

concantinated_string = 'Hacktiv8' + stu
print(concantinated_string)

print(concantinated_string + 'inalium')

Hacktiv8foobarbaz
Hacktiv8foobarbazinalium

In [12]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [16]:
# in Operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [18]:
# Case Conversion
s = 'HackTIV8 iNAlum'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8 inalum
hacktiv8 inalum
hACKtiv8 InaLUM
Hacktiv8 Inalum
HACKTIV8 INALUM

In [11]:
## Python List
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [12]:
# Lists Are Ordered
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [13]:
# Lists Can Contain Arbitrary Objects
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [22]:
# List Elements Can Be Accessed by Index
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

# python lists - negative indices
print(a[-1])
print(a[-6])

foo
corge
corge
foo

In [19]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
b = ['foo', 'bar', 'baz', 'qux']
a==b

False

In [20]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
b = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a==b

True

In [21]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
b = ['foo', 'baz', 'qux', 'quux', 'corge', 'bar']
a==b

False

In [24]:
## slicing
# a[m:n] :: mulai dari index ke-m hingga index sebelum ke-n
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5] #2,3,4

['baz', 'qux', 'quux']

In [15]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [16]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [25]:
b = [1,2,3,4,1000]
print(b)

print(len(b))
print(min(b))
print(max(b))

[1, 2, 3, 4, 1000]
5
1
1000

In [17]:
# Modifying a Single List Value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [18]:
# A list item can be deleted with the del command:

del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [26]:
# Modifying Multiple List Values
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4]) #slicing

# modify
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [20]:
## Python Tuples ::  menggunakan "()"
# Defining and Using Tuples
# tidak dapat dimodifikasi
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)
print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [28]:
# TIDAK dapat dimodify
t[1]='zoo'

TypeError: 'str' object does not support item assignment

In [29]:
t = (2, 4, 6)
t

(2, 4, 6)

In [30]:
type(t)

tuple

In [32]:
single_t = (10)

In [33]:
single_t

10

In [34]:
type(single_t)

int

In [37]:
# DEKLARASI ELEMEN PADA TUPLE ::: single tuple declaration
single_t = (10,)
single_t
print(type(single_t))

<class 'tuple'>

In [21]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

In [41]:
## Python Dictionary
# Defining a Dictionary
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [42]:
# Accessing Dictionary Values
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [43]:
# contoh error karena 'Toronto' tidak ada
MLB_team['Toronto']
#jadi dapat ditambahkan elemen baru

KeyError: 'Toronto'

In [44]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [45]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [46]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [47]:
## Building a Dictionary Incrementally
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [48]:
person

{'fname': 'Hack',
 'lname': 'Inalum',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [49]:
print(person['fname'])
print(person['lname'])

Hack
Inalum

In [50]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [51]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [52]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [53]:
## Python Statements
print('Hello, World!')

x = [1, 2, 3]
print(x)

Hello, World!
[1, 2, 3]

In [54]:
## Line Continuation
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [55]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True